.footer{
  font-size: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
  .material-icons{
    //border: 1px solid #000;
    font-size: 20px;
  }
  .page-item-icon{
    .page-link{
      padding: auto;
      color: $primary;
    }
    :hover{
      color: $pagination-hover-color;
    }
  }
}